/* SIDE PANEL START */

.todo-info {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  /* border: solid 2px tomato; */
}

h3 {
  margin-left: 10px;
  font-size: 16px;
  color: white;
  font-weight: normal;
}

/* SIDE PANEL END */
