input.tasks__item.new-task {
  background-color: transparent;
  border: none;
  height: 26px;
  /* border: solid 1px rgb(54, 54, 54); */
  border-radius: 5px;
  font-family: monospace;
  margin-top: 28px;
}

input.tasks__item.new-task:focus {
  outline: none;
  color: rgb(185, 185, 187) !important;
}
